<h2 class="text-uppercase text-bold font-weight-bold mb-4 text-center">
  Potwierdzenie złożenia zamówienia
</h2>
<div class="lead justify-content-center align-self-center mx-auto mt-5">
  <p class="mb-3">
    Złożono zamówienie o numerze XXXXXXXXXXXXXXXXXXXXXXXX/2019.
  </p>
  <p class="mb-3">
    Realizacja zamówienia zostanie rozpoczęta po zaksięgowaniu płatności.
    Zamówienie zostanie dostarczone wybraną metodą dostawy po skompletowaniu
    zamówienia w magazynie. Informacje na temat zmian statusu zamówienia zostaną
    wysłane na Pana/i adres e-mail.
  </p>
  <p class="mb-3">
    W razie pytań prosimy o kontakt z Działem Obsługi Klienta pod adresem
    dok@domtech.pl
  </p>
</div>
