.card-selected {
    border: 2px solid #FF0000;
}

.card-clickable {
    cursor: pointer;
}

.form-check-input, .form-check-label {
    cursor: pointer;
}

.large-font {
    font-size: large;
}

.continue-btn {
    width: 30%;
}