<div class="row mt-5">
  <img class="col-6" [src]="product?.imageUrl" [alt]="product?.name" />
  <div class="container col-6 mx-auto mt-3">
    <h5 class="text-uppercase text-monospace font-weight-bold">
      {{ product?.producerName }}
    </h5>
    <h1 class="font-weight-bolder">{{ product?.name }}</h1>
    <p class="lead">{{ product?.description }}</p>
    <h2 class="font-weight-bolder">
      {{ product?.price | currency: "PLN":"symbol":undefined:"pl-PL" }}
    </h2>
    <button
      class="btn btn-dark btn-basket large-font text-uppercase font-weight-bolder text-monospace p-3 pl-4 pr-4 mt-4"
      (click)="onAddToBasket()"
    >
      Dodaj do koszyka
    </button>
  </div>
</div>

<div class="row justify-content-between">
  <p class="font-weight-bold large-font ml-5 pl-5 mt-5 text-monospace">
    Opinie ({{ product?.reviews?.length !== null ? product.reviews.length : 0 }})
  </p>
  <button
    class="btn btn-dark btn-basket large-font font-weight-bold mt-4 text-monospace p-3 mt-4 mr-4"
    (click)="openModal(null)"
  >
    Dodaj nową opinię
  </button>
</div>
<div class="ml-5 pl-5 mt-2">
  <fa-icon [icon]="['far', 'star']" size="lg"></fa-icon>
  <span class="ml-4 large-font font-weight-bold"
    >{{ rating | number: "1.0-1" }}/5</span
  >
  <span class="ml-4 lead font-weight-bold">Ocena klientów</span>
</div>
<div class="form-group border border-dark rounded col-10 mx-auto mt-4 mb-4" *ngFor="let review of product?.reviews">
  <div class="row p-2">
    <h3>{{ review.author.substr(0, review.author.indexOf('@')) }}</h3>
    <rating
      [(ngModel)]="review.rating"
      class="large-font ml-4"
      [readonly]="true"
    ></rating>
  </div>
  <div class="row p-2">
    <p>{{ review.comment }}</p>
  </div>
</div>
