<carousel>
  <slide>
    <div class="picsum-img-wrapper">
      <img
        src="https://images.unsplash.com/photo-1499084732479-de2c02d45fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Black week</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <div class="picsum-img-wrapper">
      <img
        src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Black week</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <div class="picsum-img-wrapper">
      <img
        src="https://gfx.antyradio.pl/var/antyradio/storage/images/film/news/gwiezdne-wojny-ix-czy-rey-rzeczywiscie-przejdzie-na-ciemna-strone-mocy-34767/10690503-1-pol-PL/Gwiezdne-Wojny-IX-czy-Rey-rzeczywiscie-przejdzie-na-Ciemna-strone-Mocy_article.jpg"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Black week</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
</carousel>
